.nav-img {
  filter: contrast(38%);
  width: 20px;
}

.nav-img-active {
  width: 20px;
}

@media only screen and (max-width:575px) {
	.bug {
		margin-top: 8px;
	}
}

.bg-question {
  background-color: #ffdfdf;
}

.bg-reponse {
  background-color: #c7ffd2;
}

.ban {
  
}