.nav-img {
  filter: contrast(38%);
  width: 20px;
}

.nav-img-active {
  width: 20px;
}

@media only screen and (max-width:575px) {
	.bug {
		margin-top: 8px;
	}
}

.bg-question {
  background-color: #ffdfdf;
}

.bg-reponse {
  background-color: #c7ffd2;
}

.ban {
  padding-top: 33px;
}

.titreaccueil {
  padding-top: 10px;
  margin: 0 auto;
}

.ligneban {
  margin-bottom: 40px;
}

.alerteaccueil {
  margin-top: 15px;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.34) !important;
}

.bg-white {
  background-color: #f3f3f3 !important;
}

.ban img {
  box-shadow: 0px 0px 16px 2px #757575;
  transition: all 1s ease-out;
}

.ban img:hover {
  transition: all 0.5s ease-out;
  filter: drop-shadow(0px 0px 30px red) invert(75%);;
}

iframe {
  border:none;
  width: 100%;
  height: 1000px;
  margin-top: 20px;
}
